* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 3rem 4rem 1rem 4rem;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 1rem 2rem;
  }
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 10rem 5rem 10rem;
  font-size: 1.5rem;
  gap: 5rem;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 3rem 2rem 1rem 2rem;
  }
}

.section-1 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .section-1 h3 {
    font-size: 1.5rem;
  }
}

.section-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .section-2 div {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .teste {
    grid: 1;
  }
}

.title {
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 3rem;
  font-size: 1.5rem;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.footer p a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
